{% extends 'base.html' %}

{% block content %}
  <h2>Account Details</h2>
  <p>Username: {{ current_user.username }}</p>
  <p>Email: {{ current_user.email }}</p>
  
  <a href="{{ url_for('routes.edit_account') }}">Edit details</a>
  {% if current_user.type == 'instructor' %}
    <a href="{{ url_for('routes.instructor_courses') }}">View Courses I Teach</a>
  {% elif current_user.type == 'student' %}
    <a href="{{ url_for('routes.user_courses') }}">View my courses</a>
  {% endif %}
{% endblock %}