{% extends 'base.html' %}

{% block content %}
<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0" style="justify-content: center;">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                 <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Account Details</span>
                  </div>
                <p>Username: {{ current_user.username }}</p>
                <p>Email: {{ current_user.email }}</p>

                <a class="btn btn-dark btn-sm btn-block" href="{{ url_for('routes.edit_account') }}">Edit details</a>
                {% if current_user.type == 'instructor' %}
                  <a class="btn btn-dark btn-sm btn-block" href="{{ url_for('routes.instructor_courses') }}">View Courses I Teach</a>
                {% elif current_user.type == 'student' %}
                  <a class="btn btn-dark btn-sm btn-block" href="{{ url_for('routes.user_courses') }}">View my courses</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}