{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
  <p>{{ category.name }}</p>
  <a class="btn btn-primary" href="{{ url_for('routes.new_course',category_id=category.id) }}" role="button">Add a {{ category.name }} Class</a>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <!-- List group-->
      <ul class="list-group shadow">
        {% for course in courses %}

          <!-- list group item-->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">{{ course.name }}</h5>
                <p class="font-italic text-muted mb-0 small">{{ course.description }}</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">${{ course.price }}</h6>
                </div>
               </div>
              <a role="button" href="{{ url_for('routes.course_detail', course_id=course.id) }}" class="btn btn-primary">View Details</a>
              <a role="button" href="{{ url_for('routes.enroll', course_id=course.id) }}" class="btn btn-primary">Enroll</a>
            </div>
            <!-- End -->
          </li>
          <!-- End -->
        {% endfor %}

      </ul>
      <!-- End -->
    </div>
  </div>
</div>

{% endblock %}